<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zq.owner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取sd卡 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mvvm"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.service.circle.CircleActivity"></activity>
        <activity android:name=".ui.service.visitor.VisitorActivity" />
        <activity android:name=".ui.service.household.HouseholdActivity" />
        <activity android:name=".ui.service.live.LiveActivity" />
        <activity android:name=".ui.service.mail.MallActivity" />
        <activity android:name=".ui.community.house.BindHouseActivity" />
        <activity android:name=".ui.community.house.HouseActivity" />
        <activity android:name=".ui.face.FaceResultActivity" />
        <activity android:name=".ui.face.FaceSuccessActivity" />
        <activity android:name=".ui.face.FaceActivity" />
        <activity android:name=".ui.service.parking.ParkingActivity" />
        <activity android:name=".ui.service.express.ExpressActivity" />
        <activity android:name=".ui.service.questionnaire.QuestionnaireActivity" />
        <activity
            android:name=".ui.community.complaint.ComplaintActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.community.service.ServiceTelephoneActivity" />
        <activity android:name=".ui.community.pay.CloudPayActivity" />
        <activity android:name=".ui.community.pay.PayActivity" />
        <activity android:name=".ui.community.report.ReportRecordActivity" />
        <activity
            android:name=".ui.community.report.ReportActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>